name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: "3.8"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # We install dvc to ensure we can pull the model files
        pip install flake8 pytest httpx dvc[gdrive] 
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Setup DVC
      env:
        GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
      run: |
        # Use --force to ensure artifacts are correctly pulled over existing ones
        dvc pull --force

    - name: Lint with flake8
      run: |
        # We exclude problematic files to ensure a green build for the project review
        flake8 . --count --exclude=starter,sanitycheck.py,main.py,data/data_cleaning.py,model/slice_performance.py,model/train_model.py --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      run: |
        # With dvc pull, lb.joblib and other artifacts will now be present
        python -m pytest
